@using TempoWorklogger.States
<button class="btn btn-outline-danger" @onclick="OnCancelImportClicked"><i class="fa fa-trash-o"></i> Cancal import</button>

@code {
    // TODO cascading parameter
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public ImportState ImportState { get; set; }

    private void OnCancelImportClicked()
    {
        ImportState.Dispose();
        StateHasChanged();
        NavigationManager.NavigateTo("/");
        return;
    }
}
