@page "/"
@using TempoWorklogger.Contract.UI.Core
@inject IUINotificationService notificationService;


<div class="row mb-3 text-center">
    <div class="col text-center">
        <NavLink class="btn btn-outline-primary btn-lg p-4" style="width:250px" role="button" href="/worklogs">
            <i class="fa fa-table"></i><br />Worklogs
        </NavLink>
    </div>
    <div class="col text-center">
        <NavLink class="btn btn-outline-primary btn-lg p-4" style="width:250px" role="button" href="/templates">
            <i class="fa fa-magic"></i><br />Mapping Templates
        </NavLink>
    </div>
    <div class="col text-center">
        <NavLink class="btn btn-outline-primary btn-lg p-4" style="width:250px" role="button" href="/imports/worklogs">
            <i class="fa fa-cloud-upload"></i><br />Import worklogs
        </NavLink>
    </div>
    <div class="col ">
        <NavLink class="btn btn-outline-primary btn-lg p-4" style="width:250px" role="button" href="/integrations-settings">
            <i class="fa fa-gear"></i><br />Integrations settings
        </NavLink>
    </div>
</div>


<HomePage />

@*<div class="row">
    <div class="col-12 text-center">
        <NavLink class="nav-link" href="">
            <!-- Default -->
            <span class="iconic" data-glyph="cog" title="cog" aria-hidden="true"></span>
            <!-- Bootstrap -->
            <span class="oi iconic iconic-cog" title="settings" aria-hidden="true"></span> Settings
        </NavLink>
    </div>
</div>*@
