@page "/templates/create"

<div class="row">
    <div class="col">
        <h3 class="mb-2">Template </h3>
    </div>
    <div class="col-auto">
        <GoBack PrevPage="/templates" />
    </div>
</div>

@code {

}
