@page "/"

<div class="row mb-2">
    <div class="col-12 text-center">
        <NavLink class="btn btn-outline-primary" role="button" href="import/select-file">
            <i class="fa-solid fa-file-import"></i> Import worklogs
        </NavLink>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 text-center">
        <NavLink class="btn btn-outline-primary" role="button" href="/templates">
            <i class="fa-solid fa-shapes"></i> Mapping Templates
        </NavLink>
    </div>
</div>

@*<div class="row">
    <div class="col-12 text-center">
        <NavLink class="nav-link" href="">
            <!-- Default -->
            <span class="iconic" data-glyph="cog" title="cog" aria-hidden="true"></span>
            <!-- Bootstrap -->
            <span class="oi iconic iconic-cog" title="settings" aria-hidden="true"></span> Settings
        </NavLink>
    </div>
</div>*@