<button class="btn btn-outline-secondary" @onclick="OnGoBackClicked"><i class="fa fa-arrow-left"></i> Back</button>

@code {
    [Parameter]
    public string PrevPage { get; set; } = string.Empty;

    // TODO cascading parameter
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void OnGoBackClicked()
    {
        if (string.IsNullOrWhiteSpace(PrevPage))
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        NavigationManager.NavigateTo(PrevPage);
    }
}
