@using TempoWorklogger.Contract.UI.ViewModels.ImportWizard
<header class="col-md-auto col-12 process-bar" style="max-width: 100%">
    <ul id="progressbar" class="text-cetner">
        <li class="@(current >= (int)ImportStepKind.File ? "active" : "")" id="file"><strong>File</strong></li>
        <li class="@(current >= (int)ImportStepKind.Template ? "active" : "")" id="template"><strong>Template</strong></li>
        <li class="@(current >= (int)ImportStepKind.Preview ? "active" : "")" id="preview"><strong>Preview</strong></li>
        <li class="@(current >= (int)ImportStepKind.Process ? "active" : "")" id="process"><strong>Process</strong></li>
    </ul>
</header>

@code {
    private int current = 0;

    [Parameter]
    public ImportStepKind ActualStep { get => (ImportStepKind)current; set => current = (int)value; }
}